@font-face
  font-style: normal
  font-family: "Meslo LG"
  // src: local("Meslo LG S"), url("../lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype")
  src: local("Meslo LG S"), url("https://res.cloudinary.com/faeshal/raw/upload/v1665925140/faeshalcom/MesloLGS-Regular_y5grdz.ttf") format("truetype")
